/* Navbar verde */
.navbar-custom {
    background-color: #0e7e46; /* Verde oscuro, ajusta a gusto */
}

/* Botones flotantes */
.navbar .btn {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.navbar .btn:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

/* Color de texto verde (para botones claros) */
.text-green {
    color: #0e7e46 !important;
}
